#Div1 {
  display : block;
  background-color: rgba( 0, 0, 0, 0.7 );
  z-index : 20000;
  border-width: 5px;
  border-style: solid;
  border-color: grey;
  border-image: initial;
  /* top: 0px;
  left: 0px; */
  opacity: 1;
  width: 100%;
  height: 100%;
  position:absolute;
}

#Div2 {
  display : block;
  width:90px;
  height: 90px;
  background-color: #eaee1c;
  border-radius: 45px;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  top: 450px;
  left: 875px; 
  cursor: pointer;
  position:absolute;
  z-index : 20001;
}

#Div3 {
  display : block;
  width:90px;
  height: 90px;
  background-color: #eaee1c;
  border-radius: 45px;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  top: 450px;
  left: 625px; 
  cursor: pointer;
  position:absolute;
  z-index : 20001;
}

#Div4 {
  display : block;
  width:90px;
  height: 90px;
  background-color: #eaee1c;
  border-radius: 45px;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  top: 325px;
  left: 750px; 
  cursor: pointer;
  position:absolute;
  z-index : 20001;
}

#Div5 {
  display : block;
  width:90px;
  height: 90px;
  background-color: #eaee1c;
  border-radius: 45px;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  top: 575px;
  left: 750px; 
  cursor: pointer;
  position:absolute;
  z-index : 20001;
}

#Div6 {
  display : block;
  width:45px;
  height: 45px;
  background-color: #676848;
  border-radius: 22px;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  top: 470px;
  left: 770px; 
  cursor: pointer;
  position:absolute;
  z-index : 20001;
}
